In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df = pd.read_csv('Uncleaned_DS_jobs.csv', low_memory=False)

In [3]:
df.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [5]:
## Transformer la colonne salary en integer
df.columns

Index(['index', 'Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors'],
      dtype='object')

In [14]:
def convertir_salaire(valeur):
    # Sépare les deux parties de la chaîne (avant et après '-')
    debut, fin = valeur.split('-')
    
    # Supprime le 'K' et convertit en int, puis multiplie par 1000
    debut_int = int(debut.replace('K', '')) * 1000
    fin_int = int(fin.replace('K', '')) * 1000
    
    return debut_int, fin_int

# Appliquer la fonction et créer deux nouvelles colonnes
df[['salaire_debut', 'salaire_fin']] = df['Salary Estimate'].apply(convertir_salaire).apply(pd.Series)

In [15]:
df[['salaire_debut', 'salaire_fin']]

     salaire_debut  salaire_fin
0           137000       171000
1           137000       171000
2           137000       171000
3           137000       171000
4           137000       171000
..             ...          ...
667         105000       167000
668         105000       167000
669         105000       167000
670         105000       167000
671         105000       167000

[672 rows x 2 columns]

In [16]:
df.columns

Index(['index', 'Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'salaire_debut', 'salaire_fin'],
      dtype='object')

In [17]:
# Remplacer les séquences \n\n par un simple espace
df['Job Description'] = df['Job Description'].str.replace('\n\n', ' ', regex=False)

In [18]:
df['Job Description']

0      Description The Senior Data Scientist is respo...
1      Secure our Nation, Ignite your Future Join the...
2      Overview \nAnalysis Group is one of the larges...
3      JOB DESCRIPTION: Do you have a passion for Dat...
4      Data Scientist\nAffinity Solutions / Marketing...
                             ...
667    Summary We’re looking for a data scientist to ...
668    Job Description\nBecome a thought leader withi...
669    Join a thriving company that is changing the w...
670    100 Remote Opportunity As an AINLP Data Scient...
671    Description The Data Scientist will be part of...
Name: Job Description, Length: 672, dtype: object

In [19]:
df['Job Description'] = df['Job Description'].str.replace('\n', ' ', regex=False)

In [20]:
df['Job Description']

0      Description The Senior Data Scientist is respo...
1      Secure our Nation, Ignite your Future Join the...
2      Overview  Analysis Group is one of the largest...
3      JOB DESCRIPTION: Do you have a passion for Dat...
4      Data Scientist Affinity Solutions / Marketing ...
                             ...
667    Summary We’re looking for a data scientist to ...
668    Job Description Become a thought leader within...
669    Join a thriving company that is changing the w...
670    100 Remote Opportunity As an AINLP Data Scient...
671    Description The Data Scientist will be part of...
Name: Job Description, Length: 672, dtype: object

In [21]:
df['Company Name']

0               Healthfirst\n3.1
1                   ManTech\n4.2
2            Analysis Group\n3.8
3                   INFICON\n3.5
4        Affinity Solutions\n2.9
                 ...
667                TRANZACT\n3.6
668                         JKGT
669                   AccessHope
670    ChaTeck Incorporated\n5.0
671           1-800-Flowers\n2.7
Name: Company Name, Length: 672, dtype: object

In [22]:
# Séparer le nom de l'entreprise et la note à partir du caractère '\n'
df[['Company Name', 'Rating']] = df['Company Name'].str.split('\n', expand=True)

# Convertir la colonne 'Rating' en type float
df['Rating'] = df['Rating'].astype(float)

In [23]:
df[['Company Name', 'Rating']]

             Company Name  Rating
0             Healthfirst     3.1
1                 ManTech     4.2
2          Analysis Group     3.8
3                 INFICON     3.5
4      Affinity Solutions     2.9
..                    ...     ...
667              TRANZACT     3.6
668                  JKGT     NaN
669            AccessHope     NaN
670  ChaTeck Incorporated     5.0
671         1-800-Flowers     2.7

[672 rows x 2 columns]

In [24]:
df['Rating'] = df['Rating'].fillna('0')
df['Rating']

0      3.1
1      4.2
2      3.8
3      3.5
4      2.9
      ...
667    3.6
668      0
669      0
670    5.0
671    2.7
Name: Rating, Length: 672, dtype: object

In [26]:
df['Rating'] = df['Rating'].astype(float)

In [27]:
df['Rating']

0      3.1
1      4.2
2      3.8
3      3.5
4      2.9
      ...
667    3.6
668    0.0
669    0.0
670    5.0
671    2.7
Name: Rating, Length: 672, dtype: float64

In [28]:
df['Location']

0           New York, NY
1          Chantilly, VA
2             Boston, MA
3             Newton, MA
4           New York, NY
             ...
667         Fort Lee, NJ
668    San Francisco, CA
669        Irwindale, CA
670    San Francisco, CA
671         New York, NY
Name: Location, Length: 672, dtype: object

In [32]:
# Utiliser str.split avec n=1 pour éviter de séparer plus d'une fois et gérer les erreurs
df[['City', 'State']] = df['Location'].str.split(', ', n=1, expand=True)

# Remplacer les valeurs manquantes par 'Unknown' ou une autre valeur par défaut
df['State'] = df['State'].fillna('Unknown')

# Afficher le DataFrame final
print(df[['City', 'State']])

              City State
0         New York    NY
1        Chantilly    VA
2           Boston    MA
3           Newton    MA
4         New York    NY
..             ...   ...
667       Fort Lee    NJ
668  San Francisco    CA
669      Irwindale    CA
670  San Francisco    CA
671       New York    NY

[672 rows x 2 columns]

In [33]:
df['Revenue']

0        Unknown / Non-Applicable
1          $1 to $2 billion (USD)
2      $100 to $500 million (USD)
3      $100 to $500 million (USD)
4        Unknown / Non-Applicable
                  ...
667      Unknown / Non-Applicable
668                            -1
669                            -1
670        $1 to $5 million (USD)
671        $1 to $2 billion (USD)
Name: Revenue, Length: 672, dtype: object

In [35]:
# Fonction pour nettoyer et convertir les revenus
def nettoyer_revenue(valeur):
    # Vérifier si c'est "Unknown / Non-Applicable", et retourner NaN
    if 'Unknown' in valeur:
        return np.nan
    
    # Supprimer 'USD', '$', et les parenthèses
    valeur = valeur.replace('(USD)', '').replace('$', '').replace(',', '').strip()
    
    # Si c'est un intervalle (ex: "100 to 500 million"), prendre la moyenne
    if 'to' in valeur:
        debut, fin = valeur.split(' to ')
        
        # Gérer 'billion' et 'million' en convertissant en valeurs numériques
        if 'billion' in fin:
            debut = float(debut) * 1e9
            fin = float(fin.replace('billion', '').strip()) * 1e9
        elif 'million' in fin:
            debut = float(debut) * 1e6
            fin = float(fin.replace('million', '').strip()) * 1e6
        
        # Retourner la moyenne des deux valeurs
        return (debut + fin) / 2
    
    return np.nan  # Cas de sécurité si la donnée n'est pas dans le bon format

# Appliquer la fonction pour nettoyer la colonne Revenue
df['Revenue Clean'] = df['Revenue'].apply(nettoyer_revenue)

# Afficher le DataFrame nettoyé
print(df[['Revenue', 'Revenue Clean']])

ValueError: could not convert string to float: '500 million'